.card-container{
    background-color: DodgerBlue;
    margin:10px;
    width: 30vw;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
}
.play-button{
    background-color: black;
    color: white;
}
.buttons{
    display: flex;
    justify-content: space-around;

  }



