.App {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bucket-container{
  display:flex;
  flex-direction: column;
  margin:10px;
  border: 2px solid black;
}
.bucket-name{
  background-color: black;
  color: white;
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}


  






